
.body{
    overflow-x: hidden;
}

/****** HEADER ******/
.header{
    height: 12rem
}
.article-pets{
    margin: 2px 0;
}

.pets-logo{
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.8);

}

.logo-text{
    margin-left: 25px;
    font-weight: bold;
}

.link{
    font-size: clamp(0.3vw, 0.5vw, 0.8vw);
}

/******* MAIN *******/
/******* SECTION PETS ******/
.pets_section{
    margin: 30vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 50px;
    width: 100%;

}

.pets_article{
    background-color: #eaeaea;
    max-width: 26vw;
    min-height: 26vw;
    height: auto;

    padding: 20px 20px ;
    border-radius: 20px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.8);
    transition: all 1s ease;

}

.pets_article:hover{
    transform: scale(1.02);
    background-color: rgba(255, 129, 38, 0.11);
    box-shadow: 15px 15px 10px rgba(255, 131, 0, 0.37);
    cursor: pointer;
}

/* TABLETS MEDIA QUERY */
@media (max-width: 1024px) {
    .pets_article {
        max-width: 28vw;
        height: auto;
    }
}

/* MOBILES MEDIA QUERY */
@media (max-width: 768px) {
    .header {
        height: 16rem;
    }
    .pets_section {
        margin-top: 35vh;
        gap: 20px;
    }

    .pets_article {
        height: auto;
        max-width: 42vw;
        padding: 10px;
    }

    .pets_p {
        font-size: 1vw;
        height: auto;
    }
}

.pets_p{
    width: 100%;
    height: auto;
    font-size: 1rem;
    text-align: justify;
    padding: 10px 10px;

    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}

.pets_img{
    border-radius: 20px;
    max-width: 100%;
}

