
/* RESET STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif, sans-serif;
}

/* BUTTONS AND FONT STYLES*/
.title-h2 {
    width: 50%;
    font-size: 35px;
    text-align: center;
}

.text-p {
    font-size: 14px;
    width: 100%;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0.25s;
    text-decoration: none;
    text-transform: capitalize;
}

.button-primary {
    background-color: rgb(255, 129, 38);;
    color: #fff;
    border: 2px solid rgb(255, 129, 38);;
}

.button-primary:hover {
    background-color: rgba(255, 168, 109, 0.98);
    color: black;
    transform: scale(1.08);

}

.button-secondary {
    color: #201d2e;
    border: 2px solid rgb(255, 129, 38);;
}

.button-secondary:hover {
    background-color: rgb(255, 129, 38);;
    color: #fff;
    transform: scale(1.08);

}

/*********** CONTAINER MAIN **********/
.container, .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: sans-serif, serif;
    background-color: #f5f5f5;
    scroll-margin-top: 20vw;

}

.main{
    padding: 30px 120px;

}

/************* HEADER ************/
.header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    width: 100%;
    gap: 0;
    background: #FFAA70;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 30px 30px;
    height: 10vw;
    z-index: 9999;
}

.article-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    text-decoration: none;

    img {
        width: 200px;
    }

}

.logo-text {
    text-align: center;
    font-size: 22px;
    color: #000;
    font-weight: 700;
}


/******* NAVIGATION BAR ********/
.navbar {
    ol {
        display: flex;

        li {
            list-style: none;
            margin-right: 20px;

            a {
                text-decoration: none;
                color: #333;
                font-size: 18px;
                font-weight: 600;
                transition: all 0.3s ease;

                &:hover {
                    scale: 2.2;
                    color: white;
                    text-decoration: underline;
                }

                &.active {
                    color: rgb(255, 129, 38);
                }
            }
        }
    }

}


/******** SECTION ABOUT ME ********/
.hero-banner {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        flex: 1;

        h1 {
            font-size: 30px;
            color: rgb(255, 129, 38);
            font-family:  serif, sans-serif;
            font-weight: 700;
        }

        .subtitle-h2 {
            text-align: left;
        }

        p {
            font-size: 18px;
            text-align: justify;
            color: #333;
            width: 80%;
            line-height: 1.5;
        }

        .buttons-hero-banner {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-top: 40px;

        }
    }
}
.container-images-banner{
    width: 100%;
    flex: 1;
    height: auto;

    .main-image{
        max-width: 100%;
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);

    }

}


/* ********** SECTION PROJECTS ********* */
.section-projects {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 40px;
    align-items: center;


    .container-cards-projects {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        justify-items: center;
        align-items: center;
    }

    .card-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: #ececec;
        padding: 15px 50px 40px;
        border-radius: 20px;
        border: 1px solid black;
        border-bottom: 8px solid rgb(84, 84, 84);
        border-right: 8px solid rgb(84, 84, 84);
        transition: all 1s ease;

    }

    .grid-item__img {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        background-color: #ececec;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    }

}

.section-projects__h4 {
    transition: all 0.3s ease;
    padding: 2px 10px;
    border-radius: 20px;
    border: 1px solid transparent;
}

.card-project:hover{
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 8px 8px 10px rgba(255, 131, 0, 0.37);
    background-color: #d0d0d0;

    .section-projects__h4 {
        text-shadow: 0 0 0.6px black;
        background-color: rgba(255, 131, 0, 0.37);
    }
}

/********* SECTION CONTACT ***********/
.section-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 65%;

        background: rgba(255, 129, 38, 0.11);
        border-radius: 35px;
        padding: 70px;
        margin: 300px 0 5px 0;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);


        .form-contact {
            display: flex;
            justify-content: center;
            align-content: flex-start;
            gap: 50px;
            width: 70%;
            height: auto;

        }

        .form-column {
            display: flex;
            width: 17vw;
            gap: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .input {
            width: 15vw;
            height: 4.5vh;
            border: 1px solid black;
        }

        .input:focus {

            border: 3px solid rgb(255, 129, 38, 0.4);
            outline: none;
        }

        .label {
            font-size: 1vw;
            font-weight: bold;
        }

        .button-form{
            width: 150px;
        }

}


